:host {
  display: flex;
  justify-content: center;
  align-items: center;
  border: .1rem solid var(--yellow-border);
  border-radius: .5rem;
}

.edit-user {
  width: 100%;
  height: 100%;
  padding: 2rem;
  position: relative;
  overflow: auto;

  &--title {
    text-align: center;
    margin-bottom: 1.5rem;
    font-weight: bold;
  }
  &--exit {
    position: absolute;
    right: 2rem;
    top: 0;
    cursor: pointer;
    color: white;
  }

  &--form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    &--inp {
      position: relative;
      display: flex;
      align-items: center;

      span {
        position: absolute;
        top: -0.5rem;
        font-size: 0.8rem;
        background: #111111;
        font-weight: bold;
        left: 1rem;
        padding: 0 0.5rem;
      }

      &--img {
        position: absolute;
        left: 0.7rem;
      }

      &--input {
        padding: 1rem 2.4rem;
        width: 100%;
        outline: none;
        background: transparent;
        border: 0.1rem dashed var(--yellow-hover);
        border-radius: 0.5rem;

        &--eye {
          background: transparent;
          position: absolute;
          width: 2.5rem;
          height: 2.5rem;
          right: 3px;

          img {
            width: 1.7rem;
            height: 1.7rem;
          }
        }
      }
    }

    &--btn {
      display: flex;
      gap: 2rem;
      width: 100%;

      &--submit {
        width: 100%;
        border: 0.1rem solid var(--yellow-hover);
        padding: 1rem 0;
        font-size: 1rem;
        font-weight: bold;
        border-radius: 0.5rem;
        background: transparent;
      }

      &--delete {
        width: 100%;
        border: 0.1rem solid red;
        padding: 1rem 0;
        font-size: 1rem;
        font-weight: bold;
        border-radius: 0.5rem;
        background: transparent;
      }

      &--storage {
        width: 100%;
        border: 0.1rem solid blue;
        padding: 1rem 0;
        font-size: 1rem;
        font-weight: bold;
        border-radius: 0.5rem;
        background: transparent;
      }
    }
  }
}
