:host {
  z-index: 999;
  position: relative;
  top: 0;
}

.footer {
  height: 10vh;
  background: var(--background-black);
  width: 100%;
  border: 0.01rem dashed var(--yellow-border);
  border-left: none;
  border-right: none;
  display: flex;
  align-items: center;
  padding: 0 2rem;
  font-weight: bold;
  font-style: italic;

  &--images {
    flex: 1;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }

  &--user {
    display: flex;
    gap: 2rem;
    align-items: center;
    flex: .2;
    width: 100%;
    border: 0.1rem solid var(--yellow-border);
    justify-content: center;
    border-radius: 1rem;

    img {
      width: 2rem;
      height: 2rem;
      border-radius: 2rem;
      border: 0.1rem solid;
    }
  }
}
