<div class="footer">
  <h3>Vinimail.com.br</h3>
  <div class="footer--images">
    <a href="https://github.com/viniciusmartinsgranso" target="_blank" rel="noopener noreferrer">
      <img src="assets/images/github.svg">
    </a>
    <a href="https://www.linkedin.com/in/vinicius-martins-granso/" target="_blank" rel="noopener noreferrer">
      <img src="assets/images/linkedin.svg">
    </a>
  </div>
  <div class="footer--user">
    <img [src]="user.photoUrl">
    <p>{{ user.name }}</p>
  </div>
</div>
