<div class="login">
  <div class="login--border" #pai>
    <ng-container *ngIf="!isRegister; else register">
      <div class="login--border--login" #loginDiv>

        <div class="login--border--login--introduction">
          <h3>Fazer Login</h3>
          <h5>Realize o Login para entrar no Vinimail!</h5>
        </div>

        <div class="login--border--login--form">
          <img class="login--border--login--form--img" src="assets/images/user-login-icon.svg">
          <input class="login--border--login--form--email" [(ngModel)]="loginPayload.email" type="text" placeholder="Insira seu e-mail aqui!">
        </div>

        <div class="login--border--login--form">
          <img class="login--border--login--form--img" src="assets/images/user-password.svg">
          <input class="login--border--login--form--email" [(ngModel)]="loginPayload.password" [type]="showPasswordLogin ? 'text' : 'password'" placeholder="Insira sua senha aqui!">
          <button class="login--border--login--form--email--eye" (click)="showPasswordLogin = !showPasswordLogin">
            <img [src]="showPasswordLogin ? 'assets/images/eye-off_icon.svg' : 'assets/images/eye_icon.svg'">
          </button>
        </div>

        <div class="border-bottom"></div>
        <button class="login-button" [class.disable]="!canLogin() || isLoading" (click)="login(loginPayload)">{{ isLoading ? 'Carregando...' : 'ENTRAR' }}</button>

        <div>
          <p>Ainda não faz parte da família Vinimail? Cadastre-se <a (click)="isRegister = !isRegister; updateHeight()">aqui!</a></p>
        </div>
      </div>
    </ng-container>

    <ng-template #register>
      <div class="login--border--register" #registerDiv>
        <div class="login--border--register--home">
          <img src="assets/images/back-arrow.svg" (click)="isRegister = !isRegister; updateHeight()">
          <h2>Vamos criar sua conta!</h2>
        </div>
        <div>
          <div class="login--border--login--form">
            <img class="login--border--login--form--img" src="assets/images/user-login-icon.svg">
            <input class="login--border--login--form--email" [(ngModel)]="loginPayload.email" type="text" placeholder="Insira seu e-mail aqui!">
          </div>

          <div class="login--border--login--form">
            <img class="login--border--login--form--img" src="assets/images/user-password.svg">
            <input class="login--border--login--form--email" [(ngModel)]="loginPayload.password" [type]="showPasswordLogin ? 'text' : 'password'" placeholder="Insira sua senha aqui!">
            <button class="login--border--login--form--email--eye" (click)="showPasswordLogin = !showPasswordLogin">
              <img [src]="showPasswordLogin ? 'assets/images/eye-off_icon.svg' : 'assets/images/eye_icon.svg'">
            </button>
          </div>
        </div>
      </div>

    </ng-template>
  </div>
</div>
