:host {
  position: absolute;
  left: 0;
  bottom: 0;
}

.sidebar {
  position: relative;
  width: 20vw;
  background: var(--background-black);
  padding: 2rem;
  height: 85vh;
  border-radius: 0 1rem 0 0;
  border: 0.01rem dashed var(--yellow-border);
  display: flex;
  flex-direction: column;
  gap: 2rem;

  &--items {
    gap: 2rem;
    width: 100%;
    display: flex;
    align-items: center;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-bottom: 0.1rem solid white;
    transition: all ease-out 500ms;

    img {
      width: 2rem;
      height: 2rem;
    }
  }

  &--items:hover {
    border: .1rem solid var(--yellow-border);
    padding: .3rem;
    border-radius: .5rem;
    transition: all ease-out 500ms;
  }
}

.orange {
  color: var(--yellow-border);
}

.yellow-border {
  border-bottom: 0.1rem solid var(--yellow-border);
}
